@font-face{
    font-family: 'Shrikhand';
    src: url('font/Shrikhand/Shrikhand-Regular.ttf');
}

/*------------------
    ustensils, pizza
--------------------*/

@keyframes utensils{
  0%{
      transform: rotate(0deg); 
  }
  100%{
      transform: rotateX(360deg);
  }
}
@keyframes pizza{
  0%{
      transform: rotate(0deg); 
  }
  100%{
      transform: rotateY(360deg);
  }
}
.pizzaContainer{
  margin-left: 100px;
}
.utensils{
  animation: utensils 2s infinite;
  color: #FF79DA;
  margin-left: 60px;
}
.pizza{
  animation: pizza 2s infinite;
  color: #9356DC;
}
.utensilsContainer, 
.pizzaContainer{
  margin-right: 20px;
}

/*------------------
      loader
--------------------*/

@keyframes loader{
  100%{
    opacity: 0;
    z-index: -10;
  }
} 
.loader{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: 'Shrikhand';
  font-size: 40px;
  animation: loader 0.02s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 10000;
  display:flex;
  align-items:center;
  justify-content:center;
}
.loaderItem{
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1.5s;
  animation-iteration-count: 5;
}
.loaderItem-1{
  color: #9356DC;
}
.loaderItem-2{
  color: #FF79DA;
  animation-delay: 0.25s;
}
.loaderItem-3{
  color: #99E2D0;
  animation-delay: 0.5s;
}
.loaderItemContainer{
  display: flex;
  width: 150px;
  justify-content: space-between;
}
 
 /*------------------
        jump
--------------------*/

@keyframes jump{
  0%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(20px);
  }
  75%{
    transform: translateY(-20px);
  }
  100% 
  {
    transform: translateY(0);
  }
}
 









