@font-face
{
    font-family: 'Roboto';
    src: url('font/Roboto/Roboto-Medium.ttf');
}

@font-face
{
    font-family: 'Shrikhand';
    src: url('font/Shrikhand/Shrikhand-Regular.ttf');
}

/*------------------
        anim menu
--------------------*/

.animMenu1 .choice
{
    animation: animMenu 2s ease-in-out;
}

.animMenu2 .choice
{
    animation: animMenu 4s ease-in-out;
}

.animMenu3 .choice
{
    animation: animMenu 5s ease-in-out;
}


@keyframes animMenu {
    0% {
         opacity: 0; box-shadow: 0px 0px 4px grey;
    }

    100% {
        opacity: 1; box-shadow: 1px 1px 5px grey;
    }
}

/*------------------
--------------------*/


html body 
{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

main
{
    background-color: rgb(247, 246, 246);
    padding-top: 10px;
    border-radius: 40px;
    margin-top: -40px;
    margin-bottom: -50px;
    position: relative;
}

main h3
{
    font-family: sans-serif;
    border-bottom: solid #99E2D0 3px;
    width: 50px;
    padding-block-end: 5px;
    margin-left: 20px;
}

header #logo
{
    width: 200px;
    display: block;
    margin: auto;
    padding: 15px 0px;
}

header #headerImg
{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

header i
{
    position: absolute;
    left: 10px;
    top: 15px;
    color: black;
}




.heartHover .fas.fa-heart
{
    position: absolute;
    right: 30px;
    top: 35px;
    font-size: 30px;
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heartHover .far.fa-heart
{
    opacity: 1;
    position: absolute;
    right: 30px;
    top: 35px;
    font-size: 30px;
}

.heartHover:hover .fas.fa-heart
{
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.heartHover:hover .far.fa-heart
{
    opacity: 0;
    transition: 0.3s ease-in-out;
}




#title
{
    font-family: 'Shrikhand';
}

.choice
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid white 1px;
    border-radius: 20px;
    margin: 15px 10px;
    padding: 1px 20px;
    box-shadow: 1px 1px 5px grey;
    position: relative;
    

}

.choice h4
{
    margin: 4px;
}

.check
{
    
    font-size: 30px;
    color: white;
    background-color: #99E2D0;
    position: absolute;
    top: 0;
    right: 0px;
    width: 30px;
    height: 30px;
    padding: 20px;
    border-radius: 0px 20px 20px 0px;
    transition: transform 500ms ease-in-out; 
    transform: scaleX(0); 
    transform-origin: right;
}
.check i 
{
    transform: rotate(-90deg);
    transition: transform 500ms ease-in-out;
}
.choice:hover .check i 
{
    transform: rotate(0deg);
}
.choice:hover .check
{   
    transform: scaleX(1);
    
}

.choice h4, .choice2 p 
{
    width: 100%;
}

.choice h4:hover, .choice p:hover
{
    transition: width 500ms ease-in-out;
    width:60%;
}


.choice:hover .choice2 span
{
    transform: translate(-80px, 0); 
}

.choice2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;   
}
.choice2 span
{
    transition: transform 330ms ease-in-out;
}
.choice2 p
{
    font-weight: lighter;
    font-family: sans-serif;
}

.choice2 p, .choice h4
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.buttonContainer
{
    padding-bottom: 30px;
}

#button
{
    background: linear-gradient(to bottom, rgb(238, 128, 214) 5%, rgb(138, 89, 213) 100%);
    box-shadow: 2px 2px 2px black;
    border-radius: 20px;
    padding: 12px 50px;
    color: white;
    border: none;
    display: block;
    margin: 30px auto;
}

#button:hover
{
    box-shadow: 10px 5px 5px black;
    opacity: 0.7;
}

footer
{
    color: white;
    background-color: rgb(54, 53, 53);
    padding-bottom: 10px;
    position: relative;
}

footer h3
{
    font-family: 'Shrikhand';
    padding-left: 30px;
    padding-top: 30px;
}

footer ul
{
    list-style: none;

}

footer li 
{
    padding-top: 10px;
}

footer a 
{
    color: white;
    text-decoration: none;
}

footer .fas.fa-utensils, footer .fas.fa-hands-helping
{
    margin-right: 10px;
}
 