@font-face
{
    font-family: 'Roboto';
    src: url('assets/style/font/Roboto/Roboto-Medium.ttf');
}

@font-face
{
    font-family: 'Shrikhand';
    src: url('assets/style/font/Shrikhand/Shrikhand-Regular.ttf');
}

html body 
{
    font-family: 'Roboto', sans-serif;
}

main
{
    background-color: rgb(247, 246, 246);
    padding-top: 10px;
    border-radius: 20px;
}

main h3
{
    font-family: sans-serif;
    border-bottom: solid #99E2D0 3px;
    width: 50px;
    padding-block-end: 5px;
}

header #logo
{
    width: 200px;
    display: block;
    margin: auto;
}

header #headerImg
{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

#title i
{
    position: absolute;
    right: 30px;
    top: 300px;
    font-size: 30px;
}

#title
{
    font-family: 'Shrikhand';
}

.choice
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border: solid white 1px;
    border-radius: 20px;
    margin: 7px;
    padding: 2px;
    box-shadow: 1px 1px 4px grey;
    position: relative;
}

.choice h4
{
    margin: 4px;
}

.check
{
    font-size: 30px;
    color: white;
    background-color: #99E2D0;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    padding: 20px;
    border-radius: 0px 20px 20px 0px;
}


.flexCheck
{
    display: flex;
    flex-direction: row;
}

.choice2
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
}

.choice2 p
{
    font-weight: lighter;
    font-family: sans-serif;
}


#button
{
    background: linear-gradient(to bottom, rgb(238, 128, 214) 5%, rgb(138, 89, 213) 100%);
    box-shadow: 2px 2px 2px black;
    border-radius: 20px;
    padding: 12px 50px;
    color: white;
    border: none;
    display: block;
    margin: auto;
}

#button:hover
{
    box-shadow: 10px 5px 5px black;
    opacity: 0.7;
}

footer
{
    color: white;
    background-color: rgb(54, 53, 53);
}

footer h3
{
    font-family: 'Shrikhand';
    padding-left: 30px;
    padding-top: 30px;
}

footer ul
{
    list-style: none;
}

footer li 
{
    padding-top: 10px;
}